[user]
	email = rahulduhan9876@gmail.com
	name = xxdrd

[alias]
	graphgpg = log --graph --color --pretty=format:"%C(yellow)%H%C(green)%d%C(reset)%n%x20%cd%n%x20%cn%C(blue)%x20(%ce)%x20%C(cyan)[gpg:%GK%x20%G?]%C(reset)%n%x20%s%n"
	graph = log --graph --color --pretty=format:"%C(yellow)%H%C(green)%d%C(reset)%n%x20%cd%n%x20%cn%C(blue)%x20(%ce)%x20%C(cyan)%C(reset)%n%x20%s%n"
	stat = status -sb
	last = log -1 --stat
	unstage = reset HEAD --
	cached = diff --cached
	d = difftool
	c = clone
[color]
	ui = auto
