ncmpcpp/.ncmpcpp/error.log
walls/.walls/*.jpg
local/.local/share/nvim/*
local/.local/share/xorg/*
mpd/.config/mpd/mpd.log
mpd/.config/mpd/mpdstate
local/.local/state/*
zsh/.config/zsh/plugins/*
zsh/.config/zsh/.zcompdump
