configuration {
  show-icons:         true;
  icon-theme:         "Adwaita";
  terminal:           "alacritty";
  cycle:              false;
  hide-scrollbar:     true;
  disable-history:    false;
}
